.desktop-menu {
    &__links {
        display: flex;
        list-style: none;
    }

    &__link {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -.5rem;
            left: 0;
            width: 0;
            height: 2px;
            background-color: white;
            opacity: 0;
            transition: .3s;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
        }

        &:not(:last-child) {
            margin-right: 4rem;
        }

        a {
            color: white;
            font-size: 1.875rem;
            font-family: 'Alata', sans-serif;
            line-height: 3.25rem;
            text-decoration: none;

            &:focus {
                outline: 2px dotted white;
            }
        }
    }
}