.header {
    padding: 0 4rem;
    
    &__content-wrapper {
        display: flex;
        align-items: center;
        padding-top: 8rem;
    }

    &__logo-link {
        position: relative;
        z-index: 10;
        margin-right: auto;
        
        &:focus {
            outline: 2px dotted white;
        }
    }

    &__logo {
        width: 18rem;
    }
}

@media only screen and (min-width: 800px) {
    .header {
        &__logo {
            width: initial;
        }
    }
}